body {
  font-family: $text-main;
  font-size: 18px;
  color: var(--wp--preset--color--common-black);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-top: 0;
}

h3 {
  font-size: 1.6rem;
  margin-top: 0;
}

h4 {
  font-size: 1rem;
}

a {
  color: var(--wp--preset--color--common-black);
}
