@font-face {
  font-family: 'League Spartan';
  src: url('assets/fonts/LeagueSpartanVariable.woff2') format('woff2');
}

$text-main: 'League Spartan', 'Calibri', sans-serif;
$text-header: 'League Spartan', sans-serif;

$grey-100: #f8f4f1;
$grey-200: #bfbfbf;
$grey-300: #515151;
